<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ data.card }}</h1>
    <p class="lead text-muted">{{ data.message }}</p>
      <p>
        <a href="/balances" class="btn btn-primary my-2">Balances</a>
        <a href="/orders/opens" class="btn btn-primary my-2">Open Orders</a>
        <a href="/orders" class="btn btn-primary my-2">Orders</a>
        <a href="/trades" class="btn btn-secondary my-2">History</a>
      </p>
    </div>
</section>
